<header class="caption">
<h1>{{name}}</h1>
{{{html}}}
</header>

{{#each _fragments}}
<section id="{{_fragment}}" class="slide{{{class}}}"><div>
<h2>{{name}}</h2>
{{{html}}}
</div></section>
{{/each}}