<!DOCTYPE html>
<html {{{lang}}}>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
{{{metaSeo}}}
<link rel="stylesheet" href="{{relPath}}/{{#if material}}material{{else}}ribbon{{/if}}/styles/styles.css">
{{{injectCss}}}
<style>.shower { --slide-ratio: calc({{#if wide}}16/9{{else}}4/3{{/if}}); }</style>
</head>
<body class="shower list">

<header class="caption">
{{{html-noWrap}}}
</header>

{{#each _fragments}}
<section id="{{fragmentID}}" class="slide{{slideClass}}"><div>
{{{html-noWrap}}}
{{{background-image}}}
</div></section>

{{/each}}

<div class="progress"></div>

<nav id="nav">
<ul><li>{{menu}}
<ul>
{{#eachPage~}}
<li>{{{pageLink}}}</li>
{{/eachPage~}}
</ul>
</li></ul>
</nav>

{{{injectJs}}}
{{{comment "photoCredit"}}}
{{{comment "copyright"}}}
</body>
</html>
